In [5]:
import warnings
warnings.filterwarnings("ignore")

# Import importTrackmateTracks_function
%run importTrackmateTracks_function.ipynb

## File paths
filename = r'C:\Users\ryanr\OneDrive\Desktop\Krapf Research\RNA data analysis\Trajectories\Test 2024-3-30\Dish 1\Sample1001_control_Tracks.xml'
savefile = r'C:\Users\ryanr\OneDrive\Desktop\Krapf Research\RNA data analysis\Trajectories\Test 2024-3-30\Dish 1\Sample1001_control_Tracks.txt'

# Parameters
pixelsize = 0.130  # Pixel size in micrometers
Max = 1500  # Maximum track length in frames

# Import tracks
tracks, metadata = import_trackmate_tracks(filename)

# Initialize empty matrix
    # len(tracks) = number of trajectories
    # len(tracks[0]) = length of first trajectory
M, N = len(tracks), len(tracks[0])
B = [[float('NaN') for _ in range(2 * M)] for _ in range(Max)]
format_str = ''
title_str = ''
traj_counter = 0

# Populate matrix and format strings
for i, track in enumerate(tracks):
    for j, point in enumerate(track):
        B[j][2 * i] = point[0] * pixelsize  # x coordinate
        B[j][2 * i + 1] = point[1] * pixelsize  # y coordinate
    format_str += '%12.4f\t%12.4f\t'
    title_str += f'      X{traj_counter}\t      Y{traj_counter}\t'
    traj_counter += 1

# Write to file
with open(savefile, 'w') as f:
    f.write(title_str + '\n')
    for row in B:
        f.write(format_str % tuple(row) + '\n')
    f.close()

In [4]:
# Display resulting TXT file as a dataframe
import pandas as pd

df = pd.read_csv(savefile, delimiter='\t')
df.head()

,X0,Y0,X1,Y1,X2,Y2,X3,Y3,X4,Y4,...,Y1021,X1022,Y1022,X1023,Y1023,X1024,Y1024,X1025,Y1025,Unnamed: 2052
0,0.1300,45.0890,0.0000,29.9063,0.0,55.8791,0.0000,61.4808,0.0000,39.3631,...,18.9351,192.4000,51.8064,192.5300,60.0548,192.6600,50.4442,192.9200,62.0045,NaN
1,0.2600,45.4292,0.1300,29.8456,0.13,55.8919,0.1300,61.5273,0.1300,39.6461,...,18.9219,192.5300,51.8041,192.6600,59.8997,192.7900,50.4109,193.0500,62.0873,NaN
2,0.3900,45.5158,0.2600,29.8926,0.26,55.9035,0.2600,61.5058,0.2600,39.6123,...,19.0398,192.6600,51.7990,192.7900,60.0758,192.9200,50.3512,193.1800,62.0797,NaN
3,0.5200,45.2287,0.3900,29.8969,0.39,55.8359,0.3900,61.6249,0.3900,39.6742,...,19.5399,192.7900,51.6335,192.9200,59.8000,193.0500,50.4859,193.4400,62.0351,NaN
4,0.6500,44.9985,0.5200,29.8465,0.52,55.9102,0.5200,61.5153,0.5200,40.0436,...,19.3634,193.0500,51.7458,193.0500,59.7389,193.1800,50.4648,193.5700,62.1412,NaN